<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 数据源配置 -->
    <properties>
        <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url"
                  value="jdbc:mysql://localhost:3306/study_mybatis?characterEncoding=utf8&amp;serverTimezone=Asia/Shanghai"/>
        <property name="username" value="root"/>
        <property name="password" value="root"/>
    </properties>

    <!--日志配置-->
    <settings>
        <setting name="logImpl" value="SLF4J"/>
        <setting name="logPrefix" value="sql."/>
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="aggressiveLazyLoading" value="false"/>
        <!-- 下划线转驼峰式 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--设置启用数据库字段下划线映射到java对象的驼峰式命名属性，默认为false-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!-- mybatis分页工具pagehelper的配置，或者是在spring-mybatis.xml配置文件中加<property name="plugins"> -->
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <!--指定数据库连接类型，此属性可以自动检测，不配置也可以 -->
            <property name="helperDialect" value="mysql"/>
            <!--分页合理化参数，默认文false；pageNum<=0，查询第一页；pageNum>总页数，查询最后一页 -->
            <property name="reasonable" value="true"/>
        </plugin>
    </plugins>

    <!-- 环境配置 -->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <!-- 导入数据源-->
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>


    <!--将mapper.xml文件注册到主配置文件中-->
    <mappers>

    </mappers>
</configuration>